@CHARSET "UTF-8";

/* -----ALLERGY---------------------------------------------------------------------------------------------------------------------------------- */
	/* menuAllergy.jsp */
	.menuatable li{
			padding: 1em;
    		background: white;
    		text-align: center;
    		list-style: none;
    		box-shadow: 1px 1px 5px -2px gray;
		}
		.menuatable ul{
			margin-bottom: 10px;
			width: 60%;
		}
		.menutable{
			display: block;
		}
		.disp{
			position: relative;
		    bottom: 80px;
    		left: 500px;
		    width: 20%;
			box-shadow: 1px 1px 5px -2px gray;
			background: white;
			padding: 12px;
			display: none;
		}
		#aldiv{
			overflow:hidden;
			background:#F5F5F5;
			margin-bottom: 100px;
			float: left;
		}
		
		.allist{
			font-size: 350%;
			text-align: center;
			padding : 100px;
		}
		.allimg{
			width: 50px;
		}
		
		.alcont{
			margin-left : 150px;
			margin-right: 155px;
		}
		
		
		/* ------------- */
		
		#altabs{
			overflow: hidden;
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		#altabs li{
			float: left;
 		 	margin: 0 .1em 0 0;
 		 	border-bottom : 1px solid #bdbdbd;
		}
		
		#altabs li b{
			color : #bdbdbd;
		}
		#altabs a{
			position: relative;
		    padding: 1em 1em;
		    float: left;
		    text-decoration: none;
		    width: 129px;
		    text-align: center;
		}
		#altabs a:hover,#altabs a:focus{
		  	color : black;
		  	text-decoration: none;
		}
		#altabs a:focus{
		    outline: 0;
		    color : #231f20;
		}
		#altabs a:visited{
			content:'';
			position:absolute;
			z-index: 1;
			top: 0;
			right: -.5em;  
			bottom: 0;
			width: 1em; 
			color : #bdbdbd;
		}
		#altabs #current a{
		  z-index: 3;
		  border-bottom : solid #231f20;
		}
		#altabs #current b{
		  color : #231f20;
		}
		
		/* -------------- */
		
		#alcontent{
		    padding: 2em;
		    padding-left:5em;
		    padding-right : 5em;
		    width: 100%;
		}
		
		/* ------------------------------------------------------ */
		/* allergyList */
		.alisttable{
			margin-left: 100px;
    		width: 500px;
		}
		.alisttable th{
			background: #FAFAFA;
		}
		.alisttable td{
			background: white;
		}
		.alisttable th,.alisttable td{
			padding: 1em;
    		background: white;
    		text-align: center;
    		list-style: none;
    		box-shadow: 1px 1px 5px -2px gray;
		}
	
		#allistdiv{
			overflow:hidden;
			background:#F5F5F5;
			margin-bottom: 100px;
			float: left;
			font-family: Nanum Gothic;
			margin-left: 150px;
			padding-top: 50px;
			padding-bottom: 30px;
		}
		.allistb{
			font-family: Nanum Gothic;
			font-size: 2em;
			margin-left: 250px;
		}
		
		/* ------------ */
		
		#allisttabs{
			overflow: hidden;
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		#allisttabs li{
			float: left;
 		 	margin: 0 .1em 0 0;
 		 	border-bottom : 1px solid #bdbdbd;
		}
		
		#allisttabs li b{
			color : #bdbdbd;
		}
		
		#allisttabs a{
			position: relative;
		    padding: 1em 1em;
		    float: left;
		    text-decoration: none;
		    width: 129px;
		    text-align: center;
		}
		#allisttabs a:hover,#allisttabs a:focus{
		  	color : black;
		  	text-decoration: none;
		}
		#allisttabs a:focus{
		    outline: 0;
		    color : #231f20;
		}
		#allisttabs a:visited{
			content:'';
			position:absolute;
			z-index: 1;
			top: 0;
			right: -.5em;  
			bottom: 0;
			width: 1em; 
			color : #bdbdbd;
		}
		#allisttabs #current a{
		  z-index: 3;
		  border-bottom : solid #231f20;
		}
		#allisttabs #current b{
		  color : #231f20;
		}
		
		/* -------------- */
		
		#allistcontent{
			padding: 2em;
		    padding-left:5em;
		    padding-right : 5em;
		    width: 100%;
		}
		
		/* ----------------------------------------------------- */
		/* allergyList2 */
		
		.clisttable tr,.clisttable th,.clisttable td{
			border:1px solid gray;
		}
	
		#aldiv2{
			margin-top: 10px;
			margin-left:50px;
			margin-right: 50px;
		}
		
		/* ------------- */
		
		#altabs2{
			overflow: hidden;
			width: 100%;
			margin: 0;
			padding: 0;
			list-style: none;
		}
		#altabs2 li{
			float: left;
 		 	margin: 0 .1em 0 0;
 		 	border: 1px solid lightgray;
		}
		#altabs2 a{
			position: relative;
			padding: .2em 1em;
			float: left;
			text-decoration: none;
		}
		#altabs2 a:hover,#altabs2 a:focus{
		  	color : black;
		  	text-decoration: none;
		}
		#altabs2 a:focus{
		    outline: 0;
		    color : black;
		}
		#altabs2 a:visited{
			content:'';
			position:absolute;
			z-index: 1;
			top: 0;
			right: -.5em;  
			bottom: 0;
			width: 1em;
			color : black;
		}
		#altabs2 #current a{
		  z-index: 3;
		  background: lightgray;
		  color : tomato;
		}
		
		/* ------------- */
		
		#alcontent2{
			background: #fff;
		    padding: 2em;
		    height: 
		}
		
		/* allergyUpdateform */
		.alupdatediv{
			background:#F5F5F5;
			margin-bottom: 100px;
			font-family: Nanum Gothic;
			margin-left: 100px;
			margin-right: 100px;
			padding-top: 50px;
			padding-bottom: 30px;
		}
		.alupdateb{
			font-family: Nanum Gothic;
			font-size: 2em;
			margin-left: 300px;
		}
		.awformtable{
			margin-top: 30px;
    		width: 800px;
    		margin-left: 50px;
    		margin-bottom: 50px;
		}
		.awformtable th{
			background: #FAFAFA;
		}
		.alcb{
		    margin-left: 3px;
		}
		.awformtable td{
			background: white;
		}
		.awformtable th,.awformtable td{
			padding: 1em;
    		background: white;
    		text-align: center;
    		list-style: none;
    		box-shadow: 1px 1px 5px -2px gray;
		}
	/* 관리자페이지 버튼 */
	.mwbtn{
		background: white;
		color: gray;
		font-family: Nanum Gothic;
	}
	