@CHARSET "UTF-8";

/* ------- COURSE --------------------------------------------------------------------------------------------------------------------- */
	/* menuCourse */
	.course{
		position: relative;
		background-color: #F5F5F5;
		padding-left: 100px;
        padding-right: 100px;
        overflow: hidden;
        margin-bottom: 100px;
        padding-bottom: 100px;
	}
	.cmsg{
		display: none;
	}
	.course_title{
		position: relative;
		font-size: 550%;
		text-align: center;
		padding : 100px;
	}
	.course_titleimg{
		vertical-align: middle;
		width: 60px;
	}
	#course_titleimg0,#course_titleimg1{
		width: 60px;
	}
	.course_menu{
		position: relative;
		width: 80%;
		float: left;
		left: 10%;
		top:10%;
		text-align: center;
	    font-size: 2em;
   	 	line-height: 3em;
   	 	padding: 3em;
    	background: white;
		box-shadow: 1px 1px 5px -2px gray;
		padding-bottom: 100px;
	}
	
	.course_select{
		border: 1px solid red;
		width: 7%;
		height: 120px;    
		position: relative;
		float: left;
		top:10%;
	}
	.course_select .course_list{
		/* display: none; */
		padding: 0;
		
	}
	.courseres{
		position: absolute;
	    width: 100%;
	    height : 80%;
	    z-index: 13;
	    top: 25%;
	    margin-left: 70px;
    	margin-top: 50px;
	    top: 18%;
	    display: none;
	}
	.coursebtn1{
		background-color: #231f20;
    	color: #fff;
   	 	position: relative;
    	padding: 20px 50px 20px;
    	text-align: center;
   	 	width: 127px;
    	height: 40px;
        text-align: center;
    	font-size: 11px;
    	letter-spacing: 2px;
    	text-decoration: none;
    	top: 78%;
	}
	.coursebtn1>b{
		font-size: 1.5em;	
	}
	a.coursebtn1:link, a.coursebtn1:visited{
   	 	color: #fff;
    	text-decoration: none;
	}
	
	/* ------------------------------------------------------ */
	
	
	/* ------------------------------------------------------ */
	/* courseList */
		.course_list{
		background: #F5F5F5;
		font-family: Nanum Gothic;
		margin-left: 5px;
		margin-right: 5px;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.courselistb{
		font-size: 2em;
		margin-left: 480px;
	}
	.clisttable{
		margin-top: 50px;
		margin-left: 15px;
	}
	.clisttable th{
		background: #FAFAFA;
	}
	.clisttable td{
		background: white;
	}
	.clisttable th, .clisttable td {
	    border-bottom: 1px solid lightgray;
	    padding: 9px;
	    text-align: center;
	}
	
	/* ------------------------------------------------------ */
	/* courseUpdateform */
	.courseupdateb{
		font-family: Nanum Gothic;
		font-size: 2em;
		margin-left: 250px;
	}
	.courseupdatediv{
		background: #F5F5F5;
		margin-left: 150px;
		margin-right: 150px; 
		padding-top: 50px;
		padding-bottom: 50px;
		margin-bottom: 10px;
		font-family: Nanum Gothic;
	}
	.cuformtable{
		position: relative;
	    margin-bottom: 50px;
	    margin-left: 150px;
	    margin-right: 150px;
	    top: 50px;
	    top: 50px;
	    margin-bottom: 50px;
	    padding: 20px;
	    background: white;
	    box-shadow: 1px 1px 5px -2px grey;
	}
	.cuformtable th,.cuformtable td{
		padding-left: 40px;
	    padding-top: 15px;
	    padding-bottom: 15px;
		font-size: 1em;
		padding-right: 20px;
	}
	
	.cuformtable th{
		width: 30%;
    	text-align: center;
	}
	
	/* ------------------------------------------------------ */
	/* courseWriteform */
	.coursewriteb{
		font-family: Nanum Gothic;
		font-size: 2em;
		margin-left: 250px;
	}
	.coursewritediv{
		background: #F5F5F5;
		margin-left: 150px;
		margin-right: 150px; 
		padding-top: 50px;
		padding-bottom: 50px;
		margin-bottom: 10px;
		font-family: Nanum Gothic;
	}
	.cwformtable{
		position: relative;
	    margin-bottom: 50px;
	    margin-left: 150px;
	    margin-right: 150px;
	    top: 50px;
	    top: 50px;
	    margin-bottom: 50px;
	    padding: 20px;
	    background: white;
	    box-shadow: 1px 1px 5px -2px grey;
	}
	.cwformtable th,.cwformtable td{
		padding-left: 40px;
	    padding-top: 15px;
	    padding-bottom: 15px;
		font-size: 1em;
		padding-right: 20px;
	}
	
	.cwformtable th{
		width: 30%;
    	text-align: center;
	}
	
	
	/* 관리자페이지 버튼 */
	.mwbtn{
		background: white;
		color: gray;
		font-family: Nanum Gothic;
	}